.container-fluid {
    background: url('../../../assets/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:red;
}

.card {
  width: 300px;
}

.nav-item .nav-link[disabled]:hover {
  
}